*.egg-info
*.log
*.swp
*.docx
*.pdf
*pycache*
envs*
envsp
data
scripts/scratch.ipynb
scripts/old
scripts/.ipynb_checkpoints
.ipynb_checkpoints
jupyter.sh
interactive.sh
download_era5.py
slurm.sh
.DS_Store
results
